<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图库</title>
    <style>
        ul, li {
            list-style: none;
        }

        li{
            float: left;
            width: 200px;
            height: 100px;
            margin: 5px 10px;
        }
    </style>
</head>
<body>
<h3>图库页面</h3>

<ul>
    <li>
        <img src="/static/images/ms1.jpg" width="180" height="90">
    </li>
    <li>
        <img src="/static/images/ms2.jpg" width="180" height="90">
    </li>
    <li>
        <img src="/static/images/ms3.jpg" width="180" height="90">
    </li>
    <li>
        <img src="/static/images/ms4.jpg" width="180" height="90">
    </li>
</ul>

</body>
</html>